main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

form {
  font-size: 20px;
}

form input,
form button {
  width: 80%;
  height: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form a {
  color: #73a5f5;
  transition: 0.3s;
}

.registerHeader {
  font-size: 50px;
}

.invalid {
  color: red;
}

@media only screen and (min-width: 615px) {
  form input,
  form button {
    width: 20%;
    margin: 10px;
  }
}
