button {
    width: 125px;
    margin: 10px;
    padding: 0 10px 0 10px;
    border-radius: 1em;
    font-family: 'Arial', 'helvetica', 'sans-serif';
}

button:disabled {
    background-color: grey !important;
}