.light {
  background-color: #eee;
  color: black;
  transition: 0.5s;
}

.light input {
  transition: 0.3s;
}

.light input:hover {
  background-color: lightblue;
}

.light button {
  color: black;
  transition: 0.5s;
}

.light button:hover {
  color: white;
  background-color: #333;
}

.light form a:hover {
  color: black;
}

.dark {
  background-color: #333;
  color: white;
  transition: 0.5s;
}

.dark input {
  transition: 0.3s;
}

.dark input:hover {
  background-color: lightblue;
}

.dark button {
  background-color: transparent;
  color: white;
  transition: 0.5s;
}

.dark button:hover {
  color: black;
  background-color: aliceblue;
}

.dark form a:hover {
  color: white;
}

textarea {
  transition: 0.3s;
}

textarea:hover {
  background-color: lightblue;
}
